body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #007ACC;
  --background-color: #161515;
  --accent-color: #FFD700;
  --secondary-color: #28282a;
  --success-color: #4CAF50;
  --text-color: #FFFFFF;
}